{% extends 'base.html.twig' %}

{% block title %}New Medicijn{% endblock %}

{% block body %}
    <h1>Create new Medicijn</h1>

    {{ include('medicijn/_form.html.twig') }}

    <a href="{{ path('medicijn_index') }}">back to list</a>
{% endblock %}
